body {
    /* Set background color (the color between the dots) */
    background-color: black;
    /* Define two radial gradients for a staggered (diagonal) dot pattern */
    background-image: radial-gradient(#212121 20%, transparent 20%), radial-gradient(#fafafa 20%, transparent 20%);
    /* Position the first dot at 0,0 and the second half-way through the background size */
    background-position: 0 0, 10px 10px;
    /* Define the size of the pattern tile (twice the position values for seamless repetition) */
    background-size: 10px 10px;
    /* The background-repeat property defaults to 'repeat', which creates the pattern */
}

.center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bold {
    font-style: italic;
}



.none{
    display:none;
}



